# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/aws.xml
.idea/dbnavigator.xml
.idea/git-training.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/
venv/
passwords.txt
